<header>
  <h1>Faça Seu Cadastro</h1>
</header>
<br />
<div class="form-container">
  <form [formGroup]="formRegister">
    <!-- EMAIL -->
    <div class="form-row">
      <div class="form-group">
        <!-- EMAIL AWARNING -->
        @if (formRegister.get('email').hasError('required') &&
        formRegister.get('email').touched) {
        <p class="alert alert-warning">O campo email é obrigatório.</p>
        } @if (formRegister.get('email').hasError('minlength') &&
        formRegister.get('email').touched) {
        <p class="alert alert-warning">
          O campo email precisa conter pelo menos 8 caracteres.
        </p>
        }

        <!-- EMAIL INPUT -->
        <label for="inputEmail">Endereço de Email</label>
        <input
          name="inputEmail"
          type="email"
          class="form-control"
          formControlName="email"
          id="inputEmail4"
          placeholder="Insira Seu Email"
          minlength="8"
          required
        />
      </div>
    </div>

    <!-- PASSWORD -->
    <div class="form-row">
      <div class="form-group">
        <!-- PASSWORD AWARNING -->
        @if (formRegister.get('password').hasError('required') &&
        formRegister.get('password').touched) {
        <p class="alert alert-warning">O campo senha é obrigatório.</p>
        } @if (formRegister.get('password').hasError('minlength') &&
        formRegister.get('password').touched) {
        <p class="alert alert-warning">
          O campo senha precisa conter pelo menos 8 caracteres.
        </p>
        }
        <!-- PASSWORD INPUT -->
        <label for="inputPassword">Senha</label>
        <input
          name="inputPassword"
          type="password"
          class="form-control"
          formControlName="password"
          id="inputPassword"
          placeholder="Insira Sua Senha"
          minlength="8"
          maxlength="12"
          required
        />
      </div>
    </div>

    <!-- ADDRESS -->
    <div class="form-row">
      <div class="form-group">
        <label for="inputAddress">Endereço</label>
        <input
          name="inputAdress"
          type="text"
          class="form-control"
          formControlName="address"
          id="inputAddress"
          placeholder="Insira Seu Endereço"
          required
        />

        <label for="inputComplementAddress">Complemento do Endereço</label>
        <input
          name="inputComplementAddress"
          type="text"
          class="form-control"
          formControlName="complement"
          id="inputComplementAddress"
          placeholder="Insira o Complemento Do Seu Endereço"
        />
      </div>
    </div>

    <!-- CITY/STATE -->
    <div class="form-row">
      <div class="form-group">
        <label for="inputCity">Cidade</label>
        <input
          name="inputCity"
          type="text"
          class="form-control"
          formControlName="city"
          id="inputCity"
          placeholder="Insira Sua Cidade"
          required
        />
      </div>
    </div>

    <label for="inputState">Estado</label>
    <select id="inputState" class="form-control">
      <option selected>Escolha Seu Estado</option>
      <option>Acre (AC)</option>
      <option>Alagoas (AL)</option>
      <option>Amapá (AP)</option>
      <option>Amazonas (AM)</option>
      <option>Bahia (BA)</option>
      <option>Ceará (CE)</option>
      <option>Distrito Federal (DF)</option>
      <option>Espírito Santo (ES)</option>
      <option>Goiás (GO)</option>
      <option>Maranhão (MA)</option>
      <option>Mato Grosso (MT)</option>
      <option>Mato Grosso do Sul (MS)</option>
      <option>Minas Gerais (MG)</option>
      <option>Pará (PA)</option>
      <option>Paraíba (PB)</option>
      <option>Paraná (PR)</option>
      <option>Pernambuco (PE)</option>
      <option>Piauí (PI)</option>
      <option>Rio de Janeiro (RJ)</option>
      <option>Rio Grande do Norte (RN)</option>
      <option>Rio Grande do Sul (RS)</option>
      <option>Rondônia (RO)</option>
      <option>Roraima (PR)</option>
      <option>Santa Catarina (SC)</option>
      <option>São Paulo (SP)</option>
      <option>Sergite (SE)</option>
      <option>Tocantins (TO)</option>
    </select>
    <br />
    <!-- BUTTON -->
    <button type="submit" class="btn btn-primary" role="button">
      Cadastre-se
    </button>
  </form>
</div>
