header{
  text-align: center;
  color: rgb(43, 42, 42);
}

.form-container {
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 30%;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.41);
}

.form-container form {
  width: 65%;
}
