<header>
  <h1>Faça Seu Login</h1>
</header>
<br>
<div class="form-container">
  <form>
    <div class="form-row">
      <div class="form-group">
        <label for="emailLogin" class="form-label">Endereço de Email</label>
        <input type="email" class="form-control" id="emailLogin" placeholder="Insira seu Email">
        <label for="senhaLogin" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senhaLogin" placeholder="Insira sua Senha">
      </div>
    </div><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


